@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
*{
    padding:0;
    margin:0;
    border:0;
    outline:0;
    font-family:"Open Sans";
    box-sizing:border-box;
    /*-webkit-text-size-adjust:none*/
}

body, html {
  height: 100%;
  margin: 0;
}

.bgimg {
   /* background-color: aqua;
  background-image: url('/src/img/forest.JPG');*/
  background: url('../img/coming.jpg') top center no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
 /* font-family: "Courier New", Courier, monospace;*/
  font-size: 20px;
}

.topleft {
  position: absolute;
  top: 20px;
  left: 20px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}